:root {
  --bg-color: #212529;
  --border-color: #666;
  --font-color: #f1f5f9;
  --primary-color: #4dff91;
  --error-color: #ff0000;
  --button-color:#33323d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--font-color);
  font-family: "Ubuntu", sans-serif;
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

main {
  display: block;
  margin: 0 auto;
}

h1 {
  margin: 0 0 1.5rem;
  text-align: center;
  font-size: 22px;
}

section {
  display: flex;
  width: 100vw;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  box-shadow: 0 8px 24px -16px rgba(0, 0, 0, 0.5);
  margin: 1.5rem auto;
  max-width: 25rem;
  padding: 2rem;
}

form {
  justify-items: center;
  border-radius: 10px;
  justify-items: center;
  display: flex;
  flex-direction: column;
}

input {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  color: var(--font-color);
  display: block;
  margin: 0.4rem auto;
  padding: 0.3rem;
  font-size: 1rem;
  text-align: start;
  width: 100%;
}

span {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
}

.theme {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

#calculate {
  margin-top: 0.5rem;
  background-color: var(--button-color);
  border: solid var(--border-color);
  border-width: 2px;
  border-radius: 0.5rem;
  color: var(--font-color);
  cursor: pointer;
  display: block;
  height: 2rem;
  transition: 0.25s;
}
#calculate:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
}

#result {
  border-width: 2px 2px 2px 0;
  border-radius: 0 0.5rem 0.5rem 0;
}

#copyToClipboard {
  background-color: transparent;
  border: solid var(--border-color);
  border-width: 2px;
  border-radius: 0.5rem 0 0 0.5rem;
  color: var(--font-color);
  cursor: pointer;
  display: block;
  height: 2rem;
  width: 6rem;
  transition: 0.25s;
}
#copyToClipboard:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
}

.buttonCopy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.error {
  background-color: var(--error-color);
}

.success {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.img_footer {
  position: absolute;
  left: 95%;
  top: 80%;
  margin-left: -300px;
  margin-top: -180px;
  max-width: 50vh;
  max-height: 40vh;
}

@media (max-width: 425px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    max-width: 220px;
    max-height: 200px;
  }
  section {
    width: 80vw;
  }
  h1 {
    margin: 0 0 0.5rem;
    text-align: center;
    font-size: 22px;
  }
  .theme {
    background-image: url("../img/bg-cell.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
  }
  label {
    margin-top: 10px;
  }
  .img_footer {
    left: 108%;
    top: 95%;
    max-width: 40vh;
    max-height: 40vh;
  }
}

/*# sourceMappingURL=style.css.map */
